label {
  color: #8e8071;
  font-size: 16px;
}

input,
textarea,
button {
  outline: 0;
}

.form-container {

  .form-inner {
    padding: 27px 26px 21px;
  }

  .field-text,
  .field-select {
    float: none;
    margin-bottom: 14px;
    margin-right: 0;
    position: relative;
    width: 100%;
  }

  .inputtext {
    height: 48px;
    padding-left: 10px;
  }

  .textarea {
    height: 108px;
    padding: 10px;
  }

  .submit {
    align-items: center;
    background: #f6f0ec;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: center;
    padding: 21px 26px;
  }
}

.ng-dirty {
  &.ng-invalid {
    border: 1px solid #e86741;
  }
}

.custom-checkbox {
  input {
    position: absolute;
    top: 3px;
    left: 13px;
    margin: 0;
    border: none;
    width: 1px;
    height: 1px;
    display: none;
  }
}

.button {
  margin: 0 .2em;
  display: block;
  height: 45px;
  line-height: 41px;
  border: 1px solid #c44a28;
  padding: 0 25px;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 1px 2px 5px rgba(154, 125, 108, 0.6);
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
  text-shadow: none;
  background: rgb(233, 106, 70);
  background: linear-gradient(to bottom, rgb(237, 231, 230) 0%, rgb(233, 106, 70) 2%, rgb(228, 88, 53) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ede7e6', endColorstr='#e45835', GradientType=0);

  &:hover {
    background: rgb(238, 135, 101);
    background: linear-gradient(to bottom, rgb(237, 231, 230) 0%, rgb(238, 135, 101) 2%, rgb(228, 88, 53) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ede7e6', endColorstr='#e45835', GradientType=0);
  }
}

// Placeholder
input::-webkit-input-placeholder {
  color: #c9c2bc;
  font-size: 13px;
}

input:-moz-placeholder {
  color: #c9c2bc;
  font-size: 13px;
}

input:-ms-input-placeholder {
  color: #c9c2bc;
  font-size: 13px;
}

textarea::-webkit-input-placeholder {
  color: #c9c2bc;
  font-size: 13px;
}

textarea:-moz-placeholder {
  color: #c9c2bc;
  font-size: 13px;
}

textarea:-ms-input-placeholder {
  color: #c9c2bc;
  font-size: 13px;
}


input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}
