<div class="container container-wide">
  <div class="content">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell large-2">
          <mat-form-field>
            <mat-select placeholder="Select language" [(ngModel)]="selectedLanguage" (change)="changeLang()">
              <mat-option *ngFor="let language of languages | async" [value]="language">
                {{ language.nativeName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell large-8">
          <div class="grid-x">
            <div class="cell large-6">
              <app-profile></app-profile>
            </div>
          </div>
        </div>
        <div class="cell large-4">
          <app-blog-post></app-blog-post>
          <app-contact-form></app-contact-form>
        </div>
      </div>
    </div>
  </div>
</div>
