<section class="widget" *ngIf="user">
  <div class="widget-header">
    <div class="widget-header--avatar">
      <img [src]="user.image" [alt]="user.firstName + ' ' + user.lastName">
    </div>
    <div class="widget-header--text">
      <h5>{{ user.firstName }}
        <br>{{ user.lastName }}</h5>
      <span class="subtitle">{{ user.followers | number:'3.0' }} {{ 'FOLLOWERS' | translate}}</span>
    </div>
  </div>
  <div class="widget-body">
    <ul>
      <li>
        <a href="#">
          <span>{{ 'EDIT_USER' | translate }}</span>
          <i class="ico-cat ico-user"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <span>{{ 'WEB_STATISTICS' | translate }}</span>
          <i class="ico-cat ico-statistics"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <span>{{ 'UPLOAD_SETTINGS' | translate }}</span>
          <i class="ico-cat ico-settings"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <span>{{ 'EVENTS' | translate }}</span>
          <i class="ico-cat ico-events"></i>
        </a>
      </li>
    </ul>
  </div>
</section>
